* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* appearance: none; */
}



body {
    background-color: lightgray;
    /* overflow: hidden; */

    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;
}



.canvas-holder {
    flex-grow: 1;
    display: flex;

    overflow: hidden;

    padding: 1px;
}



#canvas {
    border: 1px dashed gray;
    object-fit: contain;

    max-width: 100%;
}



footer {
    padding: 5px 10px;
    width: 100%;

    background-color: gray;

    font: 14px 'Courier New', monospace;
    color: black;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.warning {
    position: absolute;
    bottom: 50%;
    transform: translate(0, -50%);

    padding: 5px 10px;
    width: 100%;

    background-color: red;
    opacity: 0%;
    transition: opacity 1s;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    font: 14px 'Courier New', monospace;
    color: black;

}



@media screen and (orientation:portrait) {
    .rotate-warning {
        opacity: 70%;
        animation: transform();
    }
}



@media screen and (max-width: 400px) {
    footer {
        flex-direction: column;
        align-items: center;
    }
}